__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/

.ruff_cache/
.pytest_cache/
.pyright/
.coverage
htmlcov/
.mypy_cache/

data/raw/
data/interim/
data/processed/
outputs/
expt-logs/
*.parquet
*.arrow

logs/
*.log

.DS_Store
.idea/
.vscode/

test.ipynb
tests
/data/
